* {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 250px;
}

/* Cards */
.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 60px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.price {
  margin-top: 15px;
  font-weight: 700;
}

.card {
  width: 400px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}

img {
  align-self: center;
  max-width: 80%;
  max-height: 75%;
  margin-bottom: auto;
}

.layout {
  display: grid;
  grid-template-rows: minmax(80px, 5%) 1fr minmax(50px, 4%);
  min-height: 100vh;
  justify-content: stretch;
}

.container-home {
  padding: 0 250px;
  height: auto;
  background-image: url(/src/assets/bgImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: start;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.container-global {
  height: 100%;
}

.container {
  padding: 20px 250px;
  height: 100%;
}

.cta {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 200px;
  padding: 6px 10px;
  border-radius: 12px;
  gap: 20px;
  transform: translate(100%, 400%);
}

#btn-shop-now {
  background-color: white;
  padding: 6px 10px;
  font-size: 2.8rem;
  border: 1px solid black;
  border-radius: 20px;
  font-weight: 600;
}

#btn-shop-now:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  color: white;
}

#github {
  margin-left: 6px;
  color: white;
  text-decoration: none;
}

h1 {
  font-weight: 900;
  font-size: 2.4rem;
  margin-right: 400px;
}

.linkWithoutStyles {
  text-decoration: none;
  color: inherit;
}

h2 {
  text-align: center;
}

.card-checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border: 1px solid black;
  padding: 6px 10px;
  border-radius: 8px;
  width: 50%;
  align-self: center;
  background-color: white;
  transform: translateY(calc(-100% - 40px));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.295);
}

.card-addToBag-btn {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
}

input[type='number'] {
  /* border: 1px solid gray; */
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 30%;
  font-size: 16px;
}

input[type='number']:focus {
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.card .card-checkout {
  display: none;
}

.card:hover .card-checkout {
  display: flex;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cart */
.container-cart {
  padding: 20px 250px;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
}

.cart-summary {
  width: 400px;
  height: 350px;
  position: fixed;
  top: 26%;
  right: 10%;
  padding: 20px 30px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.cart-info {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#cart-total {
  margin-top: 10px;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#cart-total p {
  font-weight: 600;
}

#checkout-btn-cart {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 20px 0;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  width: 100%;
  margin: 40px 0;
}

#checkout-btn-cart:hover {
  background-color: rgba(0, 0, 0, 0.822);
}

#payment-options {
  width: 70%;
  margin-top: 25px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cart-table {
  margin-bottom: 50px;
}

.cart-table-header,
.item {
  display: grid;
  grid-template-columns: 3fr repeat(4, 2fr) 1fr;
  align-items: center;
  justify-items: center;
}

.item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.068);
}

.item p {
  padding: 10px 0;
}

.cart-table-header {
  margin-top: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.1rem;
  color: rgb(48, 47, 47);
  font-weight: 500;
}

.bin {
  width: 20px;
}

.bin:hover {
  cursor: pointer;
}

.cart-product {
  width: 65px;
  max-height: 86px;
  padding: 10px 0;
}

/* Cart caunter menu */
#menu-count {
  display: flex;
  align-items: center;
  min-width: 50px;
}

#menu-count img {
  width: 30px;
}

#counter {
  width: 20px;
  height: 20px;
  background-color: #ca273c;
  font-size: 0.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 900;
  transform: translate(-12px, 12px);
}

.loading-container {
  display: flex;
  justify-content: center;
}

.loading-container img {
  margin-top: 250px;
  width: 100px;
}

.changeOne {
  font-weight: 700;
  padding: 6px 6px;
}

.changeOne:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.103);
  border-radius: 4px;
}

.empty {
  margin: 30px 80px;
  color: red;
}

@media screen and (max-width: 1500px) {
  body {
    transform: scale(
      0.8
    ); /* Adjust the scale value as needed /
  transform-origin: top left; / Ensures the content scales from the top-left corner */
  }
}
